.col_account{
    color: #ba1a1a;
    font-size: 16px;
    font-weight: 400;
}

#account-box .cell_acc{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}