.col_order{
    color: #ba1a1a;
    font-size: 16px;
}
#order-box .cell_order{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-update{
    margin-bottom: 12px;
    margin-left: auto;
}